
    html {
        position: scroll;
        scroll-behavior: smooth; 
    }

    @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    
    body {
        font-family: lato;
        margin: 0;
        position: relative;
        width: 100%; 
    }

    a {
        text-decoration: none;
    }
    
    nav {
        margin-bottom: 2rem;
    }
    
    nav, footer {
        display: flex;
        justify-content: space-around;
        height: 100px;
        -webkit-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
        -moz-box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
        box-shadow: 0px 0px 40px 0px rgba(186,186,186,1);
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    article {
        text-align: center;
    }
        
    h1, h2 {
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .other {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .active {
        color: #ed7114;
        font-weight: bolder;
        text-decoration: unset;
    }
    

    .btn-grad {
        width: 200px;
        margin: 10px;
        padding: 15px 45px;
        background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px rgba(24, 22, 22, 1);
        border-radius: 10px;
        display: block;
    }

    .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    footer {
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    /*
    .animation {
        
    }
    */
